# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>

#Header always set Access-Control-Allow-Origin "*"
#Header always set Access-Control-Allow-Headers "X_Token"
#Header always set Access-Control-Allow-Origin:  http://127.0.0.1:5173
#Header always set Access-Control-Allow-Methods: POST
#Header always set Access-Control-Allow-Headers: Content-Type, Authorization
